# General
.cache/
.git/
.vscode/
.idea/
*.lock

# GitHub Actions Workflows
.github/

# Helm
deployments/**/templates/
**/values.yaml

# Docker
docker-compose.yml

# Node.js
.next
build/
coverage/
playwright-report/
test-results/
**.js.map
**.bundle.js
storybook-static/
.yarn/

# WordPress
wp-content/

# Games
/*Game/

# Dotnet
/*Service/
/*.Library/
/*.Tests/
/*.WebAPI/
**/*.sln
**/*.csproj
**/*.cs
/*.lutconfig
/.editorconfig