name: Azure Web App Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Deploy Environment.  This is used to pull in and set the github environment. Can be development, staging, or production."
      DOTNET_VERSION:
        default: ${{ vars.DOTNET_VERSION }}
        type: string
      AZURE_APP_NAME:
        type: string
        required: false
        description: "set this to your application's name"
        default: ${{ vars.AZURE_WEBAPP_NAME }}
      AZURE_APP_RESOURCEGROUP:
        type: string
        default: ${{ vars.AZURE_WEBAPP_RESOURCEGROUP || 'AMU_Serverless_RG' }}
      AZURE_APP_PACKAGE_PATH:
        description: "set this to the path to your web app project, defaults to the repository root"
        type: string
        default: ${{ vars.AZURE_WEBAPP_PACKAGE_PATH || '.' }}
      checkoutRef:
        required: false
        type: string
        description: "The branch, tag, or SHA to checkout"
        default: ${{ github.ref }}
      deploymentWebhook:
        required: false
        type: string
        description: "The webhook URL for the deployment status"
        default: ${{ vars.MSTEAMS_DEPLOYMENT_WEBHOOK }}
    secrets:
      AZURE_CREDENTIALS:
        required: true
      AZUREAPPSERVICE_PUBLISHPROFILE:
        required: true
      PAT_ACTION_CI:
        required: false

jobs:
  build-and-deploy:
    name: Deploy Web App to ${{ inputs.environment }}
    environment:
      name: ${{ inputs.environment }}
    runs-on: windows-latest
    env:
      PAT_ACTION_CI: ${{ secrets.PAT_ACTION_CI }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.checkoutRef }}

      - name: Install jq apt package
        shell: bash
        run: sudo apt-get update -y && sudo apt-get install jq -y

      - name: Retrieve .NET version
        id: dotnet-version
        shell: bash
        run: |
          DOTNET_VERSION=$(find . -name '*.csproj' -exec grep -h '<TargetFramework>net' {} + | sed -E 's/.*<TargetFramework>net([0-9]+\.[0-9]+)<\/TargetFramework>.*/\1/' | sort -V | tail -n1)
          echo "DOTNET_VERSION=${DOTNET_VERSION}" >> $GITHUB_OUTPUT

      - name: Setup application platform
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.DOTNET_VERSION || steps.dotnet-version.outputs.DOTNET_VERSION }}

      - name: Add AMU GitHub Packages nuget source
        if: ${{ env.PAT_ACTION_CI }}
        shell: bash
        run: |
          dotnet nuget add source "https://nuget.pkg.github.com/andrews-mcmeel-universal/index.json" --name "AMU GitHub Packages" --username "amu_deploy@amuniversal.com" --password "${{ secrets.PAT_ACTION_CI }}" --store-password-in-clear-text

      - name: Build solution
        shell: bash
        run: |
          pushd './${{ inputs.AZURE_APP_PACKAGE_PATH }}'
          dotnet publish -c Release
          popd

      - name: Publish Web Jobs
        shell: bash
        run: |
          while IFS= read -r -d '' PROJECT; do
            echo "Publishing project: ${PROJECT}"

            # Extract project name and base name
            PROJECT_NAME=$(basename "$PROJECT" .csproj)
            PROJECT_BASE=${PROJECT_NAME%.Job}
            PROJECT_SHORTNAME=${PROJECT_BASE##*.}

            TARGET_DIR="${{ github.workspace }}/publish/app_data/jobs/continuous/${PROJECT_SHORTNAME}Job"
            echo "Output path: $TARGET_DIR"
            mkdir -p "$TARGET_DIR"

            # Publish the project
            echo "Running dotnet publish for $PROJECT"
            dotnet publish "$PROJECT" -c Release -o "$TARGET_DIR"
          done < <(find . -type f -name '*Job.csproj' -print0)

      - name: Login via Az module
        uses: azure/login@v2
        with:
          creds: "${{ secrets.AZURE_CREDENTIALS }}"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ inputs.AZURE_APP_NAME }}
          slot-name: ${{ inputs.environment }}
          package: "${{ github.workspace }}/publish"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}

      - name: Enable identity for Azure Web App
        uses: azure/cli@v2
        env:
          AZURE_APP_RESOURCEGROUP: ${{ inputs.AZURE_APP_RESOURCEGROUP }}
          AZURE_APP_NAME: ${{ inputs.AZURE_APP_NAME }}
          ENVIRONMENT: ${{ inputs.environment }}
        with:
          inlineScript: |
            set -eu
            AZ_ARGS=(
              webapp identity assign
              -g "${AZURE_APP_RESOURCEGROUP}"
              -n "${AZURE_APP_NAME}"
            )
            if [[ "${ENVIRONMENT}" != "production" ]]; then
              AZ_ARGS+=(--slot "${ENVIRONMENT}")
            fi
            az "${AZ_ARGS[@]}"

      - name: Get Azure Web App Managed Identity
        id: identity
        uses: azure/cli@v2
        env:
          AZURE_APP_RESOURCEGROUP: ${{ inputs.AZURE_APP_RESOURCEGROUP }}
          AZURE_APP_NAME: ${{ inputs.AZURE_APP_NAME }}
          ENVIRONMENT: ${{ inputs.environment }}
        with:
          inlineScript: |
            set -eu
            AZ_ARGS=(
              webapp identity show
              -g "${AZURE_APP_RESOURCEGROUP}"
              -n "${AZURE_APP_NAME}"
            )
            if [[ "${ENVIRONMENT}" != "production" ]]; then
              AZ_ARGS+=(--slot "${ENVIRONMENT}")
            fi
            IDENTITY=$(az "${AZ_ARGS[@]}" | jq -r '.principalId')

            echo "appIdentity=${IDENTITY}" >> $GITHUB_ENV

      - name: Retrieve key vault name
        uses: azure/cli@v2
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          REPOSITORY_NAME: ${{ github.event.repository.name }}
        with:
          inlineScript: |
            set -eu
            echo -e "Searching for key vault with tags: \"repository-name=${REPOSITORY_NAME};environment=${ENVIRONMENT}\""
            KEYVAULT_NAME=$(az keyvault list --query "[?tags.\"repository-name\" == '${REPOSITORY_NAME}' && tags.environment == '${ENVIRONMENT}'].name" --output tsv)

            # Check if key vault was found
            if [[ -z "$KEYVAULT_NAME" ]]; then
              echo "Key Vault not found with tags: repository-name=${REPOSITORY_NAME};environment=${ENVIRONMENT}"
              exit 1
            fi

            # Get key vault object
            KEYVAULT_NAME=${KEYVAULT_NAME// /}
            echo "keyVaultName=${KEYVAULT_NAME}" >> $GITHUB_ENV

      - name: Assign Azure Web App System Managed Identity to Key Vault
        uses: azure/cli@v2
        env:
          AZURE_KEYVAULT_NAME: ${{ env.keyVaultName }}
          AZURE_IDENTITY: ${{ env.appIdentity }}
        with:
          inlineScript: |
            set -eu
            # Retrieve the Key Vault ID
            keyVaultId=$(az keyvault show --name "${AZURE_KEYVAULT_NAME}" --query id --output tsv)
            
            # Assign the Key Vault Secrets User role to the managed identity using object ID and principal type
            az role assignment create --role "Key Vault Secrets User" --assignee-object-id "${AZURE_IDENTITY}" --assignee-principal-type ServicePrincipal  --scope $keyVaultId
      
      - name: Retrieve environment variables
        if: ${{ env.AZURE_CREDENTIALS_SET != 'false' }}
        id: get-envs
        uses: Andrews-McMeel-Universal/get-envs@v1
        with:
          azurecredentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ inputs.environment }}
          contentTypes: Env
          environmentVariableSeparator: "\n"

      - name: Add environment variables to web app
        env:
          AZURE_APP_RESOURCEGROUP: ${{ inputs.AZURE_APP_RESOURCEGROUP }}
          AZURE_APP_NAME: ${{ inputs.AZURE_APP_NAME }}
          ENV_VARS_OUTPUT: ${{ steps.get-envs.outputs.environmentVariables }}
          ENVIRONMENT: ${{ inputs.environment }}
          AZURE_KEYVAULT_NAME: ${{ env.keyVaultName }}
        uses: azure/cli@v2
        with:
          inlineScript: |
            set -eu

            # Get current app settings
            if [[ "${ENVIRONMENT}" == "production" ]]; then
              APPSETTINGS=$(az webapp config appsettings list \
                -g "${AZURE_APP_RESOURCEGROUP}" \
                -n "${AZURE_APP_NAME}")
            else
              APPSETTINGS=$(az webapp config appsettings list \
                -g "${AZURE_APP_RESOURCEGROUP}" \
                -n "${AZURE_APP_NAME}" \
                --slot "${ENVIRONMENT}")
            fi

            echo "$ENV_VARS_OUTPUT" | sed '$ d' | while IFS='=' read -r key value; do
              echo "Processing variable: $key=$value"
              VARIABLE_LC=$(echo "$key" | tr '[:upper:]' '[:lower:]' | tr "_" "-")

              # Search for the key in app settings
              APPSETTING_VALUE=$(echo "${APPSETTINGS}" | jq -r ".[] | select(.name == \"$key\") | .value")

              # Check if the value is set to a keyvault reference
              if [[ "${APPSETTING_VALUE}" == "@Microsoft.KeyVault"* ]]; then
                echo "Skipping $key as it is already a keyvault reference"
                continue
              fi

              # Skip reserved keys
              if [[ "$key" == "FUNCTIONS_WORKER_RUNTIME" || "$key" == "AzureWebJobsStorage" || "$key" == "AZUREWEBJOBSSTORAGE" ]]; then
                echo "Skipping $key as it is a reserved key"
                continue
              fi

              echo "Adding $key to app settings"

              # Build common args once
              AZ_ARGS=(
                webapp config appsettings set
                -g "${AZURE_APP_RESOURCEGROUP}"
                -n "${AZURE_APP_NAME}"
                --slot-settings "$key=@Microsoft.KeyVault(VaultName=${AZURE_KEYVAULT_NAME};SecretName=${VARIABLE_LC})"
              )

              # Add slot args only when not production
              if [[ "${ENVIRONMENT}" != "production" ]]; then
                AZ_ARGS+=(--slot "${ENVIRONMENT}")
              fi

              # Run command once, optionally silencing output when not debugging
              if [[ '${{ runner.debug }}' == '1' ]]; then
                AZ_OUTPUT="$(az "${AZ_ARGS[@]}")"
              else
                AZ_OUTPUT="$(az "${AZ_ARGS[@]}" 2>&1)"
              fi

              AZ_EXIT_CODE=$?

              if [[ $AZ_EXIT_CODE -ne 0 ]]; then
                echo "::error::Failed to add $key to app settings (exit code: $AZ_EXIT_CODE)"
              elif ! echo "$AZ_OUTPUT" | grep "$key" >/dev/null; then
                echo "::error::az command succeeded but $key was not present in the result output"
              else
                echo "Successfully added $key to app settings"
              fi
            done

      - name: Restart Azure Web App
        uses: azure/cli@v2
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          AZURE_APP_RESOURCEGROUP: ${{ inputs.AZURE_APP_RESOURCEGROUP }}
          AZURE_APP_NAME: ${{ inputs.AZURE_APP_NAME }}
        with:
          inlineScript: |
            set -eu
            AZ_ARGS=(
              webapp restart
              -g "${AZURE_APP_RESOURCEGROUP}"
              -n "${AZURE_APP_NAME}"
            )
            if [[ "${ENVIRONMENT}" != "production" ]]; then
              AZ_ARGS+=(--slot "${ENVIRONMENT}")
            fi
            az "${AZ_ARGS[@]}"

      - name: Send Failed Deployment report to Teams
        if: failure() && (inputs.environment != 'development')
        uses: jdcargile/ms-teams-notification@v1.4
        with:
          github-token: ${{ github.token }} # this will use the runner's token.
          ms-teams-webhook-uri: ${{ inputs.deploymentWebhook }}
          notification-summary: "${{ github.event.release.tag_name != '' && format('{0} ', github.event.release.tag_name) || ' ' }}Failed ${{ inputs.environment }} Deployment"
          notification-color: 17a2b8
          timezone: America/Chicago
          verbose-logging: true

      - name: Send Succeeded Deployment report to Teams
        if: success() && (inputs.environment != 'development')
        uses: jdcargile/ms-teams-notification@v1.4
        with:
          github-token: ${{ github.token }} # this will use the runner's token.
          ms-teams-webhook-uri: ${{ inputs.deploymentWebhook }}
          notification-summary: "${{ github.event.release.tag_name != '' && format('{0} ', github.event.release.tag_name) || ' ' }}Successful ${{ inputs.environment }} Deployment"
          notification-color: 28a745
          timezone: America/Chicago
          verbose-logging: true
