name: Next.js Application CI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      YARN_INSTALL:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_YARN_INSTALL || 'false' }}
      RUN_PLAYWRIGHT_TESTS:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_RUN_PLAYWRIGHT_TESTS || 'true' }}
      LINT_SCSS:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_LINT_SCSS || 'true' }}
      LINT_JS:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_LINT_JS || 'true' }}
      CHECK_SIZE_LIMIT:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_CHECK_SIZE_LIMIT || 'true' }}
      RUN_JEST_TESTS:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_RUN_JEST_TESTS || 'true' }}
      GITHUB_RUNNER:
        required: false
        type: string
        description: "The type of runner to use"
        default: ${{ vars.CUSTOM_GITHUB_RUNNER || 'azure' }}
      COREPACK_INSTALL:
        required: false
        type: string
        default: ${{ vars.APPLICATION_CI_COREPACK_INSTALL || 'true' }}
    secrets:
      AZURE_CREDENTIALS:
        required: true
      PAT_ACTION_CI:
        required: true

jobs:
  build:
    name: Build App
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ${{ inputs.GITHUB_RUNNER }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_ACTION_CI }}
          fetch-depth: 0

      - name: Use cache-next-install action
        if: ${{ inputs.YARN_INSTALL == 'false' }}
        uses: Andrews-McMeel-Universal/cache-next-install@v1

      - name: Use cache-yarn-install action
        if: ${{ inputs.YARN_INSTALL == 'true' }}
        uses: Andrews-McMeel-Universal/cache-yarn-install@v1
        with:
          enable-corepack: ${{ inputs.COREPACK_INSTALL }}

      - name: Lint javascript
        if: ${{ inputs.LINT_JS == 'true' }}
        run: yarn lint:js

      - name: Lint scss
        if: ${{ inputs.LINT_SCSS == 'true' }}
        run: yarn lint:styles

      - name: Push Linting Fixes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_user_name: amutechtest
          commit_user_email: amu_deploy@amuniversal.com
          commit_message: "[Formatter] Apply prettier changes"

      - name: Use .env cache action
        uses: Andrews-McMeel-Universal/get-envs@v1
        with:
          azurecredentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ inputs.environment }}

      - name: Use cache-next-build action
        uses: Andrews-McMeel-Universal/cache-next-build@v1

  unit-tests:
    name: Unit Tests
    if: ${{ inputs.RUN_JEST_TESTS == 'true' }}
    needs: [build]
    runs-on: ${{ inputs.GITHUB_RUNNER }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use cache-next-install action
        if: ${{ inputs.YARN_INSTALL == 'false' }}
        uses: Andrews-McMeel-Universal/cache-next-install@v1

      - name: Use cache-yarn-install action
        if: ${{ inputs.YARN_INSTALL == 'true' }}
        uses: Andrews-McMeel-Universal/cache-yarn-install@v1
        with:
          enable-corepack: ${{ inputs.COREPACK_INSTALL }}

      - name: Use .env cache action
        uses: Andrews-McMeel-Universal/get-envs@v1
        with:
          azurecredentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ inputs.environment }}

      - name: Use cache-next-build action
        uses: Andrews-McMeel-Universal/cache-next-build@v1

      - name: Run Jest tests
        if: ${{ inputs.RUN_JEST_TESTS == 'true' }}
        run: yarn test:unit:ci

  playwright-tests:
    name: Playwright Tests
    if: ${{ inputs.RUN_PLAYWRIGHT_TESTS == 'true' }}
    needs: [build]
    runs-on: ${{ inputs.GITHUB_RUNNER }}
    timeout-minutes: 25
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use cache-next-install action
        if: ${{ inputs.YARN_INSTALL == 'false' }}
        uses: Andrews-McMeel-Universal/cache-next-install@v1

      - name: Use cache-yarn-install action
        if: ${{ inputs.YARN_INSTALL == 'true' }}
        uses: Andrews-McMeel-Universal/cache-yarn-install@v1
        with:
          enable-corepack: ${{ inputs.COREPACK_INSTALL }}

      - name: Get installed Playwright version
        id: playwright-version
        run: | 
          PLAYWRIGHT_VERSION=$(node -e "console.log(require('playwright/package.json').version)")
          echo "playwright-version=${PLAYWRIGHT_VERSION}" >> $GITHUB_OUTPUT

      - name: Cache Playwright Browsers
        uses: actions/cache@v3
        id: playwright-cache
        with:
          path: '~/.cache/ms-playwright'
          key: '${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.playwright-version }}'
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Cache Playwright APT dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libnss3
          version: 1.0

      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: yarn playwright install --with-deps

      - name: Use .env cache action
        uses: Andrews-McMeel-Universal/get-envs@v1
        with:
          azurecredentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ inputs.environment }}

      - name: Use cache-next-build action
        uses: Andrews-McMeel-Universal/cache-next-build@v1

      - name: Run Playwright tests
        run: yarn test:integration:ci

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

