name: Purge CDN Caches

on:
  workflow_call:
    inputs:
      environment:
        required: false
        type: string
        description: "Deploy Environment. Can be development, staging, or production."
      bunnyCdnDomain:
        required: false
        type: string
        description: "Bunny CDN Domain. Set to the domain of your Bunny CDN."
        default: ${{ vars.BUNNY_CDN_DOMAIN }}
    secrets:
      azureCredentials:
        required: false
      bunnyCdnApiKey:
        required: false

jobs:
  purge-bunny-cdn:
    name: Purge Bunny CDN Cache
    runs-on: ubuntu-latest
    steps:
      - name: Purge Bunny CDN cache
        run: |
          response_code=$(curl -o /dev/null -s -w "%{http_code}" --fail-with-body \
          -X POST \
          --url "https://api.bunny.net/purge?url=https%3A%2F%2F${CDN_DOMAIN}%2F%2A&async=false" \
          --header "AccessKey: ${ACCESS_KEY}")

          if [[ "$response_code" -ne 200 ]]; then
            echo "Failed to purge CDN cache. HTTP response code: $response_code"
            exit 1
          fi

          echo "CDN cache purged successfully"
        env:
          ACCESS_KEY: ${{ secrets.bunnyCdnApiKey }}
          CDN_DOMAIN: ${{ inputs.bunnyCdnDomain }}