name: Trigger Target Workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Deploy Environment.  This is used to pull in and set the github environment. Can be development, staging, or production."
      targetRepository:
        type: string
        description: 'Input a repository name'
        required: true
      targetRepositoryOwner:
        type: string
        description: 'Input a repository owner'
        required: false
        default: 'Andrews-McMeel-Universal'
    secrets:
      PAT_ACTION_CI:
        required: true

jobs:
  trigger:
    name: Trigger Workflow in Target Repository
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Workflow in Another Repository
        env:
          TARGET_REPOSITORY: ${{ inputs.targetRepository }}
          REPOSITORY_OWNER: ${{ inputs.targetRepositoryOwner }}
          REPOSITORY_NAME: ${{ inputs.targetRepository }}
          ENVIRONMENT: ${{ inputs.environment }}
        run: |
          # Pass Inputs as Client Payload
          CLIENT_PAYLOAD="{\"environment\": \"${ENVIRONMENT}\"}"
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.PAT_ACTION_CI }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${REPOSITORY_OWNER}/${REPOSITORY_NAME}/dispatches \
            -d "{\"event_type\": \"trigger-workflow\", \"client_payload\": $CLIENT_PAYLOAD}"