name: Ruby on Rails Application CI

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      APT_PACKAGES:
        required: false
        type: string
        default: "curl"
        description: "Apt packages to install"
      INSTALL_NODE:
        required: false
        type: string
        description: "Whether to install Node.js or not"
        default: 'false'
      NODE_VERSION:
        required: false
        type: string
        description: "Node.js version to install"
        default: "14"
      GITHUB_RUNNER:
        required: false
        type: string
        description: "The type of runner to use"
        default: ${{ vars.CUSTOM_GITHUB_RUNNER || 'ubuntu-latest' }}
      HEALTHCHECK_URL:
        required: false
        type: string
        description: "URL to use for healthcheck"
        default: ${{ vars.HEALTHCHECK_URL || 'http://localhost:3000/health' }}
      checkoutSubmodules:
        required: false
        type: string
        description: "Check out submodules"
        default: ${{ vars.GIT_CHECKOUT_SUBMODULES }}
    secrets:
      AZURE_CREDENTIALS:
        required: true
      PAT_ACTION_CI:
        required: false

env:
  RAILS_ENV: ${{ inputs.environment }}

jobs:
  build:
    name: Build and Test
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ${{ inputs.GITHUB_RUNNER }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: ${{ inputs.checkoutSubmodules }}
          token: ${{ secrets.PAT_ACTION_CI || github.token }}

      - name: Use .env cache action
        uses: Andrews-McMeel-Universal/get-envs@v1
        with:
          azurecredentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment: ${{ inputs.environment }}

      - name: Set up Node
        uses: actions/setup-node@v4
        if: ${{ inputs.INSTALL_NODE == 'true' }}
        with:
          node-version: ${{ inputs.NODE_VERSION }}

      - name: Install apt packages
        run: sudo apt-get update -y && sudo apt-get install -y ${{ inputs.APT_PACKAGES }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Boot Rails server
        run: |
          bundle exec rails s -b 0.0.0.0 -p 3000 &
          PID=$!
          sleep 10
          HEALTHCHECK_URL="${{ inputs.HEALTHCHECK_URL }}"
          if [[ "${HEALTHCHECK_URL}" == *","* ]]; then
            IFS=',' read -ra URLS <<< "${HEALTHCHECK_URL}"
          else
            URLS=("${HEALTHCHECK_URL}")
          fi
          for URL in "${URLS[@]}"; do
            echo "Checking healthcheck URL: ${URL}"
            for i in {1..5}; do
              STATUS_CODE=$(curl -s -o /dev/null -w "%{http_code}" "${URL}")
              if [[ "$STATUS_CODE" -eq 200 ]]; then
                echo "✅ [PASSED] Healthcheck passed for ${URL}"
                break
              else
                echo "❌ [FAILED] Healthcheck not ready yet for ${URL} (status: $STATUS_CODE). Retrying in 2 seconds..."
                sleep 2
              fi
              if [[ $i -eq 5 ]]; then
                echo "❌ [FAILED] Healthcheck failed for ${URL} after multiple attempts."
                kill -2 $PID
                exit 1
              fi
            done
          done
          sleep 10
          if [[ $(ps -p $PID) ]] ; then 
            kill -2 $PID
            exit 0
          else
            echo "App failed to start."
            exit 1
          fi
