name: Storybook Deployment

on:
  workflow_call:
    inputs:
      STORYBOOK_BUILD_SCRIPT_NAME:
        required: false
        type: string
        description: The yarn script name to build Storybook
        default: ${{ vars.STORYBOOK_BUILD_SCRIPT_NAME || 'storybook:build' }}
      STORYBOOK_PUBLISH_CHANGES_ONLY:
        required: false
        type: string
        description: Whether to publish only the changes to Storybook
        default: ${{ vars.STORYBOOK_PUBLISH_CHANGES_ONLY || 'true' }}
      STORYBOOK_EXIT_ZERO_ON_CHANGES:
        required: false
        type: string
        description: Whether to exit with zero status code on changes
        default: ${{ vars.STORYBOOK_EXIT_ZERO_ON_CHANGES || 'true' }}
      STORYBOOK_ALLOW_CONSOLE_ERRORS:
        required: false
        type: string
        description: Whether to allow console errors during Storybook build
        default: ${{ vars.STORYBOOK_ALLOW_CONSOLE_ERRORS || 'true' }}
      STORYBOOK_AUTO_ACCEPT_CHANGES:
        required: false
        type: string
        description: Whether to auto-accept changes in Storybook
        default: ${{ vars.STORYBOOK_AUTO_ACCEPT_CHANGES || 'false' }}
    secrets:
      PAT_ACTION_CI:
        required: true
      CHROMATIC_PROJECT_TOKEN:
        required: true

jobs:
  deploy:
    name: Deploy to Storybook
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Fetch latest release
        uses: pozetroninc/github-action-get-latest-release@v0.8.0
        id: latest-release
        continue-on-error: true
        with:
          repository: ${{ github.repository }}
          excludes: prerelease, draft
          token: ${{ secrets.PAT_ACTION_CI }}

      - name: Use cache-yarn-install action
        uses: Andrews-McMeel-Universal/cache-yarn-install@v1

      - name: Publish to Storybook
        uses: chromaui/action@v11
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          buildScriptName: ${{ inputs.STORYBOOK_BUILD_SCRIPT_NAME }}
          exitZeroOnChanges: ${{ inputs.STORYBOOK_EXIT_ZERO_ON_CHANGES == 'true' || (inputs.STORYBOOK_EXIT_ZERO_ON_CHANGES != 'false' && github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')) }}
          allowConsoleErrors: ${{ inputs.STORYBOOK_ALLOW_CONSOLE_ERRORS == 'true' || (inputs.STORYBOOK_ALLOW_CONSOLE_ERRORS != 'false' && github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/')) }}
          onlyChanged: ${{ inputs.STORYBOOK_PUBLISH_CHANGES_ONLY == 'true' }}
          skip: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/') }}
          autoAcceptChanges: ${{ inputs.STORYBOOK_AUTO_ACCEPT_CHANGES == 'true' || (inputs.STORYBOOK_AUTO_ACCEPT_CHANGES != 'false' && contains(github.ref, steps.latest-release.outputs.release)) }}
