name: Update Internal DNS

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Deploy environment. Can be development, staging, or production."
      
      blueGreenDeployment:
        required: false
        type: string
        description: "Enable blue/green deployment strategy"
        default: ${{ vars.BLUE_GREEN_DEPLOYMENT || 'false' }}
    secrets:
      domainController:
        required: true
        description: "Domain Controller Server Name."
      storageAccountKey:
        required: true

jobs:
  update-dns:
    name: Update Internal DNS
    runs-on: [self-hosted, Windows, boley]
    steps:
      - name: Install PowerShell modules
        shell: pwsh
        run: |
          Install-Module -Name AzTable -Force

      - name: Retrieve Application information
        id: getappinfo
        shell: pwsh
        env:
          appInfoTableName: DeployedApplications
          storageAccountName: amucloudapps
          repositoryName: ${{ github.event.repository.name }}
          environment: ${{ inputs.environment }}
        run: |
          $storageAccountKey = ${{ secrets.storageAccountKey }}

          $storageContext = New-AzStorageContext -StorageAccountName $env:storageAccountName -StorageAccountKey $storageAccountKey

          #Get Storage table
          try {
              $appInfoTable = (Get-AzStorageTable -Name $env:appInfoTableName -Context $storageContext -ErrorAction Stop).CloudTable 
              }
          catch {
              Write-Error -Message "Error accessing cloud $env:appInfoTableName table.  Error message was: $_.Exception.Message"
              return
              }

          $appInfo = Get-AzTableRow -Table $appInfoTable -PartitionKey "$env:repositoryName" -RowKey "$env:environment"

          echo "aksIngress=$($appInfo.AksIngress)" >> $env:GITHUB_ENV
          echo "hostName=$($appInfo.HostName)" >> $env:GITHUB_ENV
          echo "domainName=$($appInfo.DomainName)" >> $env:GITHUB_ENV

      - name: Update Internal DNS
        timeout-minutes: 15
        shell: pwsh
        env:
          hostName: ${{ env.hostName }}
          domainName: ${{ env.domainName }}
          aksIngress: ${{ env.aksIngress }}
          blueGreenDeployment: ${{ inputs.blueGreenDeployment }}
          environment: ${{ inputs.environment }}
        run: |
          $domainController = "${{ secrets.domainController }}"

          $hostnameList = @()
          if ($env:blueGreenDeployment -eq "true" -and $env:environment -eq "production") {
            $baseHost = $env:hostName -replace '-blue', '' -replace '-green', ''
          
            $hostnameList += "$baseHost"
          }
          $hostnameList += $env:hostName

          foreach ($hostName in $hostnameList) {
            # Remove existing CNAME record
            try {
                # Get existing CNAME record
                $existingRecord = Get-DnsServerResourceRecord -ZoneName "$env:domainName" -ComputerName $domainController | Where-Object { $_.HostName -eq "$hostName" }
                # Error out if the existing record is not a CNAME record
                if ($existingRecord -and $existingRecord.RecordType -ne "CNAME") {
                    Write-Host "Error: Existing record for '$hostName' is not a CNAME record. It is a $($existingRecord.RecordType) record."
                    exit 1
                }

                # Remove record
                if ($existingRecord) {
                    Write-Output "CNAME record '$hostName' already exists. Removing it before adding the new one."
                    Remove-DnsServerResourceRecord -ZoneName "$env:domainName" -Name "$hostName" -ComputerName $domainController -RecordData $existingRecord.RecordData.HostNameAlias -RRType "CNAME" -Force
                    Write-Output "Removed existing CNAME record for '$hostName.$env:domainName'"
                }
            }
            catch {
                Write-Host "Error removing existing DNS record: $_"
                exit 1
            }

            # Add new CNAME record
            try {
                # Add the new CNAME record
                Write-Output "Adding CNAME record for '$env:aksIngress' to '$hostName.$env:domainName'"
                Add-DnsServerResourceRecordCName -Name "$hostName" -HostNameAlias "$env:aksIngress" -ZoneName "$env:domainName" -ComputerName $domainController -PassThru
            } 
            catch {
                Write-Host "Error updating DNS record: $_"
                exit 1
            }

            # Verify the update
            try {
                Write-Output "Verifying the DNS record..."
                Get-DnsServerResourceRecord -ZoneName "$env:domainName" -ComputerName $domainController | Where-Object { $_.HostName -eq "$hostName" } | Format-List
            }
            catch {
                Write-Host "Error verifying the DNS record: $_"
                exit 1
            }
          }

      - name: Sync DNS Zone
        shell: pwsh
        env:
          domainName: ${{ env.domainName }}
        run: |
          # Sync DNS Zone
          $domainController = "${{ secrets.domainController }}"

          try {
              Write-Output "Syncing DNS Zone '$env:domainName'"
              Sync-DnsServerZone -Name "$env:domainName" -ComputerName $domainController
          } 
          catch {
              Write-Host "Skipping zone sync. Zone is currently being synced."
          }
