name: Update Azure API Management

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        description: "Deploy environment. Can be development, staging, or production."
      apiSpecificationPath:
        required: false
        type: string
        description: "Relative Path to Open API Specification."
        default: "/swagger/v1/swagger.json"
      repositoryName:
        required: false
        type: string
        description: "GitHub Repository Name."
        default: ${{ github.event.repository.name }}
      productId:
        required: false
        type: string
        description: "API Management Product ID."
        default: ${{ vars.API_PRODUCT_ID || 'AZ-WebServices' }}
      apiSuffix:
        required: false
        type: string
        description: "API Suffix for the API URL."
        default: ${{ vars.API_SUFFIX || 'true' }}
      deploymentWebhook:
        required: false
        type: string
        description: "The webhook URL for the deployment status"
        default: ${{ vars.MSTEAMS_DEPLOYMENT_WEBHOOK }}
    secrets:
      azurePassword:
        required: false
      azureSubscription:
        required: false
      azureCredentials:
        required: false
      storageAccountKey:
        required: true

jobs:
  update-api-management:
    name: Update API Management Service
    runs-on: azure
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PowerShell modules
        shell: pwsh
        run: |
          $installModules = @(
            "AzTable"
          )
          Install-Module -Name $installModules -Force

      - name: Login via Az module
        uses: azure/login@v2
        with:
          creds: "${{ secrets.azureCredentials }}"
          enable-AzPSSession: true

      - name: Retrieve Application information
        id: getappinfo
        shell: pwsh
        run: |
          # Define the storage account and table name
          $appInfoTableName = "DeployedApplications"
          $storageAccountName = "amucloudapps"

          $storageContext = New-AzStorageContext -StorageAccountName $storageAccountName -StorageAccountKey ${{ secrets.storageAccountKey }}

          # Get Storage table
          try {
              $appInfoTable = (Get-AzStorageTable -Name $appInfoTableName -Context $storageContext -ErrorAction Stop).CloudTable 
              }
          catch {
              Write-Error -Message "Error accessing cloud $appInfoTableName table.  Error message was: $_.Exception.Message"
              return
              }

          # Retrieve the application information
          $appInfo = Get-AzTableRow -Table $appInfoTable -PartitionKey "${{ inputs.repositoryName }}" -RowKey "${{ inputs.environment }}"

          # Set the application information as output variables
          echo "applicationIngressFqdn=$($appInfo.IngressFqdn)" >> $env:GITHUB_OUTPUT

      - name: Update Azure API Management
        shell: pwsh
        run: |
          # Set API Management variables
          $ApiProductId = "${{ inputs.productId }}"
          $ApiSubscriptionRequired = $True

          # Generate API ID by appending "-api" to the repository name and replacing underscores with hyphens
          $ApiSuffix = if ("${{ inputs.apiSuffix }}" -eq "true") { "-api" } else { "" }
          $ApiId = ("${{ github.event.repository.name }}$ApiSuffix").Replace("_","-")

          # Retrieve the resource group and service name based on the environment tag
          $ResourceGroup = (Get-AzResource -ResourceType Microsoft.ApiManagement/service -Tag @{"environment"="${{ inputs.environment }}"}).ResourceGroupName
          $ServiceName = (Get-AzResource -ResourceType Microsoft.ApiManagement/service -Tag @{"environment"="${{ inputs.environment }}"}).Name

          # Get the fully qualified domain name (FQDN) of the service from previous steps
          $serviceFqdn = "${{ steps.getappinfo.outputs.applicationIngressFqdn }}"
          $ServiceURL = "https://$serviceFqdn"

          # Create a context object for API management operations
          $Context = New-AzApiManagementContext -ResourceGroupName $ResourceGroup -ServiceName $ServiceName

          # Retrieve the API Version Set
          $apiVersionSet = Get-AzApiManagementApiVersionSet -Context $Context | Where-Object { $_.DisplayName -eq $ApiId }
          if (-not $apiVersionSet) {
              $apiVersionSet = New-AzApiManagementApiVersionSet -Context $Context -Name $ApiId -Scheme Segment -Description "$ApiId API"
          }

          # Check if the original API exists
          Get-AzApiManagementApi -Context $Context -ApiId $ApiId -ErrorAction SilentlyContinue | Where-Object { -not $_.ApiVersionSetId } | ForEach-Object {
              $_.ApiVersionSetId = $apiVersionSet.Id
              Set-AzApiManagementApi -InputObject $_
              $OriginalVersion = $True
          }

          $SwaggerDiscoverySuccessful = $false
          $SwaggerFileName = "swagger.json"

          # Update API versions
          $ApiVersions = 1..3
          foreach ($version in $ApiVersions) {
              # Construct the Swagger URL for each version
              $SwaggerURL = "https://$serviceFqdn/swagger/v$version/swagger.json"
              $attempt = 0
              $maxRetries = 3
              $delaySeconds = 10
              $success = $false

              $SwaggerResponse = $null
              while ($attempt -lt $maxRetries -and -not $success) {
                  try {
                      $attempt++
                      # Pull down Swagger JSON
                      $SwaggerResponse = Invoke-WebRequest -Uri $SwaggerURL -UseBasicParsing -ErrorAction Stop
                      $success = $true
                  }
                  catch {
                      Write-Output "Attempt $attempt for API version V${version} failed: $($_.Exception.Message)"
                      if ($attempt -lt $maxRetries) {
                          Write-Output "Retrying in $delaySeconds seconds..."
                          Start-Sleep -Seconds $delaySeconds
                      }
                  }
              }

              # Check if the versioned API exists
              if ($success -and $SwaggerResponse.StatusCode -eq 200) {
                  $SwaggerDiscoverySuccessful = $true

                  # Get Swagger JSON content
                  Write-Output "Importing API version V${version}: $SwaggerURL"
                  $SwaggerContent = $SwaggerResponse.Content -replace "/v${version}", ""

                  # Generate a unique API ID for each version
                  $versionedApiId = "$ApiId-v$version"

                  # Save Swagger JSON to file
                  $SwaggerContent | Out-File -FilePath $SwaggerFileName -Encoding utf8

                  # Import the versioned API
                  Import-AzApiManagementApi -Context $Context -SpecificationPath $SwaggerFileName -SpecificationFormat OpenApi -Path $ApiId -ApiId "$versionedApiId" -ApiVersion "v$version" -ApiVersionSetId $ApiVersionSet.Id

                  # Retrieve and update the API object
                  $Api = Get-AzApiManagementApi -Context $Context -ApiId "$versionedApiId"
                  $Api.ServiceURL = "$ServiceURL/v${version}"
                  $Api.SubscriptionRequired = $ApiSubscriptionRequired

                  # Associate the versioned API with a product
                  Set-AzApiManagementApi -InputObject $Api
                  Add-AzApiManagementApiToProduct -Context $Context -ApiId "$versionedApiId" -ProductId "AZ-WebServices"
                  if ($ApiProductId -ne "AZ-WebServices") {
                      Add-AzApiManagementApiToProduct -Context $Context -ApiId "$versionedApiId" -ProductId $ApiProductId
                  }

                  # Remove the original API spec
                  if ($OriginalVersion) {
                      Remove-AzApiManagementApi -Context $Context -ApiId $ApiId
                  }
              }
          }

          # Error out if no Swagger JSON was reachable
          if (-not $SwaggerDiscoverySuccessful) {
              Write-Error "ERROR: No Swagger JSON was reachable for any version."
              exit 1
          }
      
      - name: Send Failed Deployment report to Teams
        if: failure() && (inputs.environment != 'development')
        uses: jdcargile/ms-teams-notification@v1.4
        with:
          github-token: ${{ github.token }}
          ms-teams-webhook-uri: ${{ inputs.deploymentWebhook }}
          notification-summary: "${{ github.event.release.tag_name != '' && format('{0} ', github.event.release.tag_name) || ' ' }}Failed ${{ inputs.environment }} Deployment"
          notification-color: 17a2b8
          timezone: America/Chicago
          verbose-logging: true